td {
  width: 30px;
  height: 30px;
  border: 2px solid black;
}
.remaining {

}

.miss {
  background-color: #d25555;
}

.hit {
  background-color: #68d255;
}

.showShips {
  background-color: #4fd3e8;
}
.border {
  background-color: grey;
}

.carrier {
  background-color: #00fff3;
}

.battleship {
  background-color: #ffd472;
}

.cruiser {
  background-color: #753ecc;
}

.destroyer {
  background-color: #1fea26;
}

.submarine {
background-color: #000000;
}
