td {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  text-align: center;
}
.remaining {

}

.miss {
  background-color: #d25555;
}

.hit {
  background-color: #68d255;
}

.showShips {
  background-color: #4fd3e8;
}
.border {
  background-color: grey;
}

.borderAn {
  animation-name: borderFadeIn, borderAni, borderFadeOut;
  animation-duration: 1s, 1s, 1s;
  animation-delay: 0s, 1s, 3s;
  animation-timing-function: ease-out, ease-in-out, ease-out;
  animation-iteration-count:1, 4, 1;

}

@keyframes borderAni {
  0% {
    background-color: #ff852e
  }
  50% {
    background-color: #ff2e2e
  }
  100% {
    background-color: #ff852e
  }
}

@keyframes borderFadeOut {
  0% {background-color: #ff852e;}
  100% {background-color: grey;}
}

@keyframes borderFadeIn {
  0% {background-color: grey;}
  100% {background-color: #ff852e;}
}

.carrier {
  background-color: #00fff3;
}

.battleship, .battleship2 {
  background-color: #ffd472;
}

.cruiser,  .cruiser2 {
  background-color: #753ecc;
}

.destroyer, .destroyer2 {
  background-color: #1fea26;
}

.submarine {
background-color: #000000;
}
